ion-fab {
    width: 120px;
    right: 32px;
    bottom: -16px;

    ion-button::part(native) {
        border-radius: 32px;
        padding: 24px;
    }
}

ion-textarea {
    font-size: large;
}

ion-chip {
    font-size: medium;
    padding: 18px 14px 18px;
}
