ion-fab {
    width: 120px;
    right: 32px;
    bottom: -24px;

    ion-button::part(native) {
        border-radius: 32px;
        padding: 16px 24px;
    }
}

ion-textarea {
    font-size: large;
    margin-bottom: 32px;
}

ion-chip {
    font-size: medium;
    // padding: 18px 14px 18px;
}
